<%- include('userSubHeader') %>
    <main class="main">      
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                  <div class="mb-25">
                    <h4 class="gruppo-regular" style="font-size: 24px; font-weight: bold;">BILLING DETAILS</h4>
                </div>     
                <div class="mt-3">
                    <!-- Add Address Button -->
                    <a href="/checkoutAddaddress">
                        <button class="btn btn-small bg-light text-dark rounded-full p-3 flex justify-center items-center">
                            <span class="text-2xl gruppo-regular"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -2 24 24" width="19" fill="currentColor"><path d="M3 2a1 1 0 0 0-1 1v15l2.978-2.717a3 3 0 0 1 4.044 0L12 18V3a1 1 0 0 0-1-1H3zm0-2h8a3 3 0 0 1 3 3v15a2 2 0 0 1-3.348 1.477L7.674 16.76a1 1 0 0 0-1.348 0l-2.978 2.717A2 2 0 0 1 0 18V3a3 3 0 0 1 3-3zm5 8h2a1 1 0 0 1 0 2H8v2a1 1 0 0 1-2 0v-2H4a1 1 0 1 1 0-2h2V6a1 1 0 1 1 2 0v2z"></path></svg> Add Address</span>
                        </button>
                    </a> 
                </div>
                
                    <div class="row">
                        <div class="col-md-6" id="view_card">
                            <div class="row">
                                <!-- profilePage.ejs -->
                                <% for (let i = 0; i < address.length; i++) { %>
                                    <div class="col-12 mt-4">
                                        <input class="form-check-input" type="radio" required="" style="width: 1rem; height: 1rem;" value="<%= address[i]._id %>" name="selectedAddressId" id="checkoutShippingMethod" checked>
                                        <div class="card mt-0">
                                            <div class="card-header" style="background-color: #ffffff;">
                                                <h5 class="mb-0 text-dark gruppo-regular" style="font-size: 16px; font-weight: bold;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -1.5 24 24" width="16" fill="currentColor"><path d="M7 20.565c-4.667-6.09-7-10.423-7-13a7 7 0 1 1 14 0c0 2.577-2.333 6.91-7 13zm0-9a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"></path></svg> Delivery address</h5>
                                            </div>
                                            <div class="card-body bg-light " >
                                                <address>
                                                    <%= address[i].addressType %> <%= address[i].houseNo %> <%= address[i].street %><br />
                                                    <%= address[i].landmark ? address[i].landmark : '' %>
                                                    <%= address[i].city %>, <%= address[i].state %> <%= address[i].pincode %> <%= address[i].country %><br />
                                                    Phone: <%= address[i].phoneNumber %>
                                                </address>
                                                <p><%= address[i].district %></p>
                                                <div class="row">
                                                    <div class="col-12 d-flex justify-content-between">
                                                        <a href="/checkoutEditAddress/<%= address[i]._id %>" class="btn btn-small btn-warning bg-light gruppo-regular text-dark">Edit Address</a>
                                                       
                                                        <!-- Add a form for the delete button -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                
                        <div class="col-md-6">
                            <div class="order_review" style="margin-top: 40px;">
                                <div class="mb-20">
                                    <h4 class="gruppo-regular" style="font-size: 24px; font-weight: bold;">YOUR ORDER</h4>
                                </div>
                                <div class="table-responsive order_table text-center">
                                    <table class="table">
                                        <thead class="bg-white  text-white">
                                            <tr class="gruppo-regular text-dark" style="font-weight: bold; font-size: 17px;">
                                                <th colspan="2">Product</th>
                                                <th>Product Price</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-light">
                                            <% cart.items.forEach(product => { %>
                                                <tr class="gruppo-regular" style="font-weight: bolder; font-size: 19px;">
                                                    <td class="image product-thumbnail">
                                                        <img src="<%= product.product.coverimage %>" alt="<%= product.product.name %>">
                                                    </td>
                                                    <td>
                                                        <h5><a href="<%= 'shop-product-full.html' %>"><%= product.product.name %></a></h5>
                                                        <span class="product-qty">x <%= product.quantity %></span>
                                                    </td>
                                                    <td>Price : <%= product.product.price %></td>
                                                    <td>₹<%= product.product.price * product.quantity %></td>
                                                </tr>
                                            <% }); %>
                                        
                                            <tr class="gruppo-regular" style="font-weight: bolder;">
                                                <th>SubTotal</th>
                                                <% 
                                                    total = 0; 
                                                    cart.items.forEach(product => {
                                                        total += product.product.price * product.quantity;
                                                    });
                                                %>
                                                <td class="product-subtotal" colspan="2">₹<%= total %></td>
                                            </tr>
                                        
                                            <!-- Highlight Free Delivery -->
                                            <tr class="gruppo-regular" style="font-weight: bolder;">
                                                <th>Shipping</th>
                                                <td colspan="2">
                                                    <em style="color: green; font-weight: bold;">Delivery is Free within Kerala</em><br>
                                                    <em style="color: red; font-weight: bold;">₹150 extra for delivery to other states in India</em>
                                                </td>
                                                
                                            </tr>
                                        
                                            <tr class="gruppo-regular" style="font-weight: bolder; ">
                                                <th>Total</th>
                                                <% 
                                                    let finalTotal = total; // No delivery charge
                                                %>
                                                <td colspan="2" class="product-subtotal" >
                                                    <span id="price" class="font-xl text-brand fw-900">₹<%= finalTotal %></span>
                                                    <input type="hidden" id="orderTotalInput" value="<%= finalTotal %>" readonly>
                                                </td>
                                            </tr>
                                        </tbody>
                                        
                                        
                                    </table>
                                </div>
                                  <p style="font-size: 15px; padding-bottom: 15px; color: red;" class="mt-2">Delivered within 4-5 business days</p>
                              </div>
                              </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="payment_method">
                                    <div class="mb-25">
                                        <h5 class="gruppo-regular" style="font-size: 22px; ">PAYMENT OPTION</h5>
                                    </div>
                                    <div class="payment_option">
                                      <div class="custome-radio">
                                          <input class="form-check-input" required="" type="radio" name="payment_option" id="razorpayRadio" value="razorpay" checked="">
                                          <label class="gruppo-regular form-check-label" for="razorpayRadio" data-bs-toggle="collapse" data-target="#razorpay" aria-controls="razorpay" style="font-size: 17px;">RAZORPAY / UPI</label>
                                          <div class="form-group collapse in" id="razorpay">
                                              <p class="text-muted mt-5">Pay via Razorpay; you can pay with your credit card.</p>
                                          </div>
                                          
                                      </div>
                                  </div>
                                </div>
                                <!-- Hidden fields for selected address -->
                                <input type="hidden" name="selectedAddressId" id="selectedAddressId">
                                <!-- Hidden fields for payment method -->
                                <input type="hidden" name="paymentMethod" id="paymentMethod">
                                <!-- Hidden fields for product details -->
                                <% cart.items.forEach((product, index) => { %>
                                    <input type="hidden" name="products[<%= index %>][productId]" value="<%= product.product._id %>">
                                    <input type="hidden" name="products[<%= index %>][quantity]" value="<%= product.quantity %>">
                                    <!-- Add more fields if needed -->
                                <% }); %>
                                <input type="hidden" name="discountedTotal" id="discountedTotalInput" value="<%= total %>">
                                <button type="button" id="placeOrderButton" class="gruppo-regular btn btn-fill-out btn-block mt-30 bg-dark" style="font-size: 18px;">PAY NOW </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loadingSpinner" class="spinner-overlay" style="display: none;">
                    <div class="spinner"></div>
                  </div>
                  <style>
                    .spinner-overlay {
                      position: fixed;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background-color: rgba(0, 0, 0, 0.5);
                      z-index: 9999;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    }
                  
                    .spinner {
                      border: 6px solid #f3f3f3; 
                      border-top: 6px solid #3498db; 
                      border-radius: 50%;
                      width: 50px;
                      height: 50px;
                      animation: spin 1s linear infinite;
                    }
                  
                    @keyframes spin {
                      0% {
                        transform: rotate(0deg);
                      }
                      100% {
                        transform: rotate(360deg);
                      }
                    }
                  </style>
                  
            </div>
        </section>
    </main>
   
    <script>
        document.getElementById('price').innerText = "₹<%= finalTotal %>"; // Ensure the price is always correct
      </script>

    <footer class="main" style="background-color: #000000;">
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row justify-content-center text-center text-md-start">
                    <!-- About Section -->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="widget-about font-md">
                            <div class="logo logo-width-1">
                                <h3><a href="/home" class="text-white">6XO<span style="color: #e44d26;"> BAGS</span></a></h3>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-white">Contact</h5>
                            <p class="text-white">
                                <strong class="text-success">Phone:</strong> <a href="tel:+919747333006" class="text-white">+91 9747333006</a>
                            </p>
                            <p class="text-white">
                                <strong class="text-success">Mail:</strong> <a href="mailto:6xobags@gmail.com" class="text-white">6xobags@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <!-- About Links -->
                    <div class="col-lg-2 col-md-3 col-sm-6 mb-4">
                        <h5 class="widget-title text-white">About</h5>
                        <ul class="footer-list list-unstyled">
                            <li><a href="/contact-us" class="text-white">Contact Us</a></li>
                         
                            <li><a href="/terms&conditions" class="text-white">Terms and Conditions</a></li>
                            <li><a href="/privacy&policy" class="text-white">Privacy Policy</a></li>
                            <li><a href="/refundPolicy" class="text-white">Refund Policy</a></li>
                        </ul>
                    </div>
                    <!-- Account Links -->
                    <div class="col-lg-2 col-md-3 col-sm-6 mb-">
                        <h5 class="widget-title text-white">My Account</h5>
                        <ul class="footer-list list-unstyled">
                            <li><a href="/login" class="text-white">Sign In</a></li>
                            <li><a href="/cart" class="text-white">View Cart</a></li>
                            <li><a href="/orders" class="text-white">Order</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </footer>
 
      <!-- Vendor JS-->
      
      <script src="/user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
      <script src="/user/assets/js/vendor/jquery-3.6.0.min.js"></script>
      <script src="/user/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
      <script src="/user/assets/js/vendor/bootstrap.bundle.min.js"></script>
      <script src="/user/assets/js/plugins/slick.js"></script>
      <script src="/user/assets/js/plugins/jquery.syotimer.min.js"></script>
      <script src="/user/assets/js/plugins/wow.js"></script>
      <script src="/user/assets/js/plugins/jquery-ui.js"></script>
      <script src="/user/assets/js/plugins/perfect-scrollbar.js"></script>
      <script src="/user/assets/js/plugins/magnific-popup.js"></script>
      <script src="/user/assets/js/plugins/select2.min.js"></script>
      <script src="/user/assets/js/plugins/waypoints.js"></script>
      <script src="/user/assets/js/plugins/counterup.js"></script>
      <script src="/user/assets/js/plugins/jquery.countdown.min.js"></script>
      <script src="/user/assets/js/plugins/images-loaded.js"></script>
      <script src="/user/assets/js/plugins/isotope.js"></script>
      <script src="/user/assets/js/plugins/scrollup.js"></script>
      <script src="/user/assets/js/plugins/jquery.vticker-min.js"></script>
      <script src="/user/assets/js/plugins/jquery.theia.sticky.js"></script>
      <script src="/user/assets/js/placeOrder.js"></script>
      <!-- Template  JS -->
      <script src="./user/assets/js/main.js?v=3.4"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!-- SweetAlert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    </body>
    </html>
    
    